<section class="d-flex align-items-center text-white">
    <div class="container d-flex justify-content-center ">
        <div class="login w-100">
            <div class="row d-flexalign-items-center justify-content-center">
                <div class=" bckg-frm rounded-3 p-5 col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form [formGroup]="registerForm" class="text-white" (ngSubmit)="submitData(registerForm)">
                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{errorMessage}}
                        </div>
                        <h2 class="text-center">Register</h2>
                        <br>

                        <label for="userName">User Name</label>
                        <input placeholder="Enter Your Name" formControlName="userName" class="form-control"
                            id="userName">
                        <div *ngIf="registerForm.get('userName')?.errors && registerForm.get('userName')?.touched"
                            class="text-danger my-2">
                            <p *ngIf="registerForm.get('userName')?.errors?.['required']">first name is required</p>

                        </div>


                        <div class="form-outline mb-1">
                            <label class="form-label" for="phoneNumber">Phone Number</label>
                            <input type="text" placeholder="Enter your Phone Number" formControlName="phoneNumber"
                                class="form-control" />
                            <div *ngIf="registerForm.get('phoneNumber')?.errors && registerForm.get('phoneNumber')?.touched"
                                class="text-danger my-2">
                                <p *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">Phone Number is
                                    required
                                </p>

                            </div>
                        </div>
                        <!-- Email input  -->
                        <div class="form-outline mb-1">
                            <label class="form-label" for="email">Email address</label>

                            <input placeholder="Enter Your Email" type="email" formControlName="email"
                                class="form-control" />

                            <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched"
                                class="alert alert-danger my-2">
                                <p *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
                            </div>
                        </div>

                        <!-- Password input -->

                        <div class="form-outline mb-1">
                            <label class="form-label" for="password">Password</label>
                            <input placeholder="Enter Your Password" type="password" formControlName="password"
                                class="form-control" />

                            <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
                                class="alert alert-danger my-2">
                                <p *ngIf="registerForm.get('password')?.errors?.['required']">Password is required
                                </p>

                            </div>
                        </div>

                        <div class="form-outline mb-1">

                            <label class="form-label" for="address">address</label>
                            <input type="text" placeholder="Enter Your address" formControlName="address"
                                class="form-control" />
                            <div *ngIf="registerForm.get('address')?.errors && registerForm.get('address')?.touched"
                                class="text-danger my-2">
                                <p *ngIf="registerForm.get('address')?.errors?.['required']">address is required</p>


                            </div>
                        </div>


                        <!-- Submit button -->
                        <button type="submit" [disabled]="registerForm.invalid"
                            class="btn btn-primary btn-block">Register</button>

                    </form>


                </div>
            </div>
        </div>

    </div>
</section>