<section class="d-flex align-items-center text-white">
    <div class="container d-flex justify-content-center ">
        <div class="login w-100">
            <div class="row d-flexalign-items-center justify-content-center">
                <div class=" bckg-frm rounded-3 p-5 col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form>
                        <h2 class="text-center">Register</h2>
                        <br>

                        <div class="form-outline mb-1">
                            <input type="text" id="form1Example13" class="form-control" />
                            <label class="form-label" for="form1Example13">Full Name</label>
                        </div>
                        <div class="form-outline mb-1">
                            <input type="text" id="form1Example13" class="form-control" />
                            <label class="form-label" for="form1Example13">Phone Number</label>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-1">
                            <input type="email" id="form1Example13" class="form-control" />
                            <label class="form-label" for="form1Example13">Email address</label>
                        </div>

                        <!-- Password input -->

                        <div class="form-outline mb-1">
                            <input type="password" id="form1Example23" class="form-control" />
                            <label class="form-label" for="form1Example23">Password</label>
                        </div>
                        <div class="form-outline mb-1">
                            <input type="text" id="form1Example23" class="form-control" />
                            <label class="form-label" for="form1Example23">Address</label>
                        </div>


                        <!-- Submit button -->
                        <button type="submit" (click)="Register()" class="btn btn-primary btn-block">Register</button>




                    </form>
                </div>
            </div>
        </div>

    </div>
</section>