.checkout-total {
    display: flex;
    font-size: 16px;
    padding: 5px 0px;
    border-top: 1px solid #BDBDBD;
    justify-content: space-between;

    p {
        font-size: 30px;
        font-weight: 500;
        right: 10cm;
    }
}
