section {
    background-image: url('../../../assets/top-view-tasty-coffee-with-coffee-beans.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bckg-frm {
    background-color: rgba(61, 52, 52, 0.8);
}