<section>
    <div class="container mt-2">
        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col-md-5 my-3 " *ngFor="let product of products">
                <div class="card">
                    <!-- Product image-->
                    <img class="card-img-top w-100" [src]="product.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <!-- Product price-->
                            Price : {{product.price}} L.E.
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button class="btn btn-outline-dark mt-auto"
                                (click)="addToCart(product)">Add To Cart</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>