<div class="row d-flex justify-content-center align-items-center my-5">
    <div class="col-md-12">
        <div class="profile-info py-5">
            <div class="">
                <h2 class=" text-center py-2">User Profile Card</h2>
                <div class="p-4 card d-flex justify-content-center align-items-center w-75">
                    <h3>Name : John Doe</h3>
                    <p>Email : johndoe@gmail.com</p>
                    <p>Phone : 01148458099</p>
                    <p>Address : 123, Street, City, Country</p>
                </div>
            </div>
        </div>
    </div>
</div>