<div class="container" >
    <div class="row">
            <div class="col-12">
                <!-- Page title -->
                <div class="my-5">
                    <h3>My Profile</h3>
                    <hr>
                </div>
                <!-- Form START -->
                <form class="file-upload">
                    <div class="row mb-5 gx-5">
                        <!-- Contact detail -->
                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <!-- First Name -->
                                    <div class="col-md-6">
                                        <label class="form-label">Full Name *</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="First name" value="Scaralet">
                                    </div>
                                    <!-- Last name -->
                                    
                                    <!-- Phone number -->
                                    <div class="col-md-6">
                                        <label class="form-label">Phone number *</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="(333) 000 555">
                                    </div>
                                    <!-- Mobile number -->
                                   
                                    <!-- Email -->
                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Email *</label>
                                        <input type="email" class="form-control" id="inputEmail4" value="example@homerealty.com">
                                    </div>
                                    <!-- Skype -->
                                    <div class="col-md-6">
                                        <label class="form-label">Address *</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="Scaralet D">
                                    </div>
                                </div> <!-- Row END -->
                            </div>
                        </div>
                        <!-- Upload profile -->
                        
                    </div> <!-- Row END -->
    
  
    
                        <!-- change password -->
                       
                        
                     <!-- Row END -->
                    <!-- button -->
                    
                </form> <!-- Form END -->
            </div>
        </div>
        </div>