section {
  background-image: url('../../../assets/images/top-view-tasty-coffee-with-coffee-beans.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 17cm;
}

.btn-login {
  background-color: #623312;
  color: #fff;
  border: none;
}

.bckg-frm {
  background-color: rgba(61, 52, 52, 0.7);
}